@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Montserrat & display=swap');

:root{
    --cor1: #232730;
    --cor2: #1AE59B;
    --cor3: #1C1F26;
    --cor4: #D3D4D6;
    --cor5: #ff7300;
    --fonte: 'Montserrat', sans-serif;
}

.parteum{
    width: 100%;
    height: 600px;
    padding: 70px 150px;
    font-family:var(--fonte);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: var(--cor1);
}
.parteumesquerdo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.sub{
    color: var(--cor2);
    letter-spacing: 3.1px;
    line-height: 28px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.titulo{
    color: var(--cor4);
    font-size: 58px;
    line-height: 120%;
    font-style: normal;
    font-weight: bold;
    float: left;
    margin: 10px 0 ;
}
.orange{
    color: var(--cor5);
}
.green{
    color: var(--cor2);
}

.parteumdireito{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    
}
.primeiraimg{
    width: 100%;
    height: 520px;
    margin-top: -40px;
}
.linksparte1{
    margin-top: 20px;
}
.emprestimo{
    display: inline-block;
    margin-right: 20px;
    background-color: var(--cor5);
    color: var(--cor3);
    border: none;
    padding: 10px 15px;
    border-radius: 32px;
    font-family:var(--fonte);
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    font-weight: 700;
    height: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

}
.investir{
    display: inline-block;
    background-color: var(--cor3);
    border: 1px solid var(--cor5);
    color: var(--cor5);
    padding: 10px 15px;
    border-radius: 32px;
    font-family:var(--fonte);
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    font-weight: 700;
    height: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}