@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Montserrat & display=swap');

:root{
    --cor1: #232730;
    --cor2: #1AE59B;
    --cor3: #1C1F26;
    --cor4: #D3D4D6;
    --cor5: #ff7300;
    --fonte: 'Montserrat', sans-serif;
}

.partecinco{
    width: 100%;
    height: 250px;
    box-sizing: border-box;
}
.textopt5{
    color: var(--cor2);
    font-size: 42px;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
    padding: 80px; 
    
}
