@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Montserrat & display=swap') ;


:root{
    --cor1: #232730;
    --cor2: #1AE59B;
    --cor3: #1C1F26;
    --cor4: #D3D4D6;
    --cor5: #ff7300;

}

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--cor1);
    font-family: 'Montserrat', sans-serif;
    
}